body{
	padding: 54px 52px;
}
header{
	margin-bottom: 44px;
}

img{
	vertical-align: middle;
}

nav{
	display: inline-block;
	vertical-align: middle;
}

ul{
	display: inline-block;
}

li{
	display: inline-block;
	margin-left: 60px;
}


a{
	font-size: 26px;
	font-weight: 700;
	color: #8D81FF;
}
.active{
	color: #4E6FAE;
}
p{
    font-size: 16px;
	font-weight: 400;
	color: #4E6FAE;
	font-family: "Arial GEO", sans-serif;
}
.line{
	display: inline-block;
	border: 2px solid #5012D5;
	height: 48px;
	vertical-align: middle;
	margin: 0 41px;
}
h1{
	font-size: 36px;
	font-weight: 700;
	color: #4E6FAE;
	vertical-align: top;
	margin-bottom: 50px;
}
.box1{
	background-color: #E7E7E7;
	width: 1660px;
	height: 735px;
	margin-bottom: 50px;
}
.sur{
	vertical-align: top;
	width: 900px;
	height: 500px;
}
.info{
	display: inline-block;
	width: 474px;
}