body{
	padding: 54px 52px;
}
header{
	margin-bottom: 44px;
}

img{
	vertical-align: middle;
}

nav{
	display: inline-block;
	vertical-align: middle;
}

ul{
	display: inline-block;
}

li{
	display: inline-block;
	margin-left: 60px;
}


a{
	font-size: 26px;
	font-weight: 700;
	color: #8D81FF;
}
.active{
	color: #4E6FAE;
}
.banner{
	vertical-align: top;
	margin-bottom: 150px;
}
.line{
	display: inline-block;
	border: 2px solid #5012D5;
	height: 48px;
	vertical-align: middle;
	margin: 0 41px;
}
h4{
	display: inline-block;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 50px;
}
h5{
	font-size: 20px;
	font-weight: 400;
	color: #3F4145;
	margin-left: 20px;
}
.box{
	background-color: #E7E7E7;
	width: 500px;
	height: 192px;
	margin-bottom: 50px;
	display: inline-block;
	vertical-align: middle;
}
.text{
	display: inline-block;
	width: 335px;
	height: 95px;
	vertical-align: top;
	margin: 20px;
}
.s{
	vertical-align: top;
	line-height: 40px;
}